* {
    box-sizing: border-box;
  }
  
  dl{
    background:lemonchiffon;
    width:300px;
    margin-left: 525px;
  }
  
  dt{
    background:darkgoldenrod;
    color: white;
    margin: 0;
    padding: 2px 0 0 5px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
  }
  
  dd {
    font: bold 20px/45px Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 0 0 12px;
    white-space: nowrap;
  }
  a{
      margin-left: 450px;
      font-size: 100px;
  }